.HotDeals .slick-dots li button:before {
    font-size: 16px;
    color: #edebeb;
    opacity: 1;
    line-height: 15px;

}



.HotDeals .slick-dots li.slick-active button:before{
    width: 26px;
    height: 12px;
    border-radius: 6px;
    background-color: #f89b20;
    color: transparent;
}

.HotDeals .slick-dots {
    bottom: -40px;
   
}



.HotDeals .slick-slide {
    padding-left: 0 !important;
    padding-right: 15px;
    margin-bottom: 30px;
}

.HotDeals .slick-slide {
    padding: 0 8px !important;
}