.productCoulmn {
    padding: 36px;
}
.ProductColumn-left
{
    position: relative;
}
.ProductColumn-title , .ProductColumn-image-title {
    z-index: 99;

    color: white;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    -webkit-transition: all 1.4s ease 0s;
    -o-transition: all 1.4s ease 0s; 
    transition: all 1.4s ease 0s;
}

.ProductColumn-title:before , ProductColumn-image-title:before{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    content: "";
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.85));
    height: 100%;
    opacity: 1;
    bottom: 0;
    z-index: 2;
    transition-property: top,opacity;
    width: 100%;
    position: absolute;
    left: 0;
}
.ProductColumn-title h2{
  font-size: 24px;
  font-weight: 900;
  color: #fcfcfc;
  z-index: 22;
  position: relative;
}
.ProductColumn-title p{
    font-size:11px;
    line-height: 1.74;
    color: #fcfcfc;
    letter-spacing: normal;
    font-size: 12px;
    z-index: 22;
    position: relative;
}


.ProductColumn-title button.ant-btn.ant-btn-primary , .ProductColumn-bottom-title button.ant-btn.ant-btn-primary  {
    height: 21px;
    padding: 0;
    margin-left: 5px;
    background: #f89c1a;
    border-color: #f89c1a;
    font-size: 11px;
    letter-spacing: 1.1px;
    font-weight: 900;
    width: 41px;
}
 button.ant-btn.ant-btn-primary {

    background: #f89c1a;
    border-color: #f89c1a;
  
}



.ProductColumn-center img {
    margin-bottom: 10px;
}

.ProductColumn-center-title h2 {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.ProductColumn-center-title strong {
    font-size: 32px;
    font-weight: 900;
}
.ProductColumn-center-title p {
    font-size: 12px;
    margin-top: 8px;
}
.ProductColumn-bottom , .image-right{
    position: relative;
    overflow: hidden;
    margin-top: 9px;

}
.ProductColumn-bottom-title{
    position: absolute;
}
.ProductColumn-bottom-title h2 {
    text-indent: 15px;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #fff;
    z-index: 99999;
    position: relative;
}
.ProductColumn-bottom-title p {
    font-size: 12px;
    float: left;
    /* margin-right: 68px; */
    margin-top: 3px;
    text-transform: uppercase;
    color: #fff;
    z-index: 99999;
    position: relative;
    text-indent: 17px;
}
.ProductColumn-bottom-title {
    overflow: hidden;
    text-align: left;
}
.ProductColumn-bottom-title {
color: white;
position: absolute;
bottom: 0;
cursor: pointer;
left: 50%;
transform: translate(-50%);
width: 100%;
}

.ProductColumn-center-title {
    color: white;
    position: absolute;
    bottom: 15px;
    cursor: pointer;
    left: 30%;
    transform: translate(-50%);
    width: 100%;
}
.ProductColumn-bottom-title:before {
content: "";
background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.85));
height: 100%;
opacity: 1;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;

bottom: 0;
z-index: 2;
transition-property: top,opacity;
transition-duration: .3s;
width: 100%;
position: absolute;
left: 0;
}


.ProductColumn-bottom-title span {
    font-weight: 900;
    font-size: 11px;
    z-index: 22;
    position: relative;
}
.image-right{
    position: relative;
}

.ProductColumn-image-title h2 {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 8px;
    text-indent: 15px;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: left;
        color:#000000;

}
.ProductColumn-image-title p {
    font-size: 12px;
    float: left;
    text-indent: 15px;
    color:#000000;
    margin-top: 3px;
    
}
.image-right img {
    max-width: 100%;
    border-radius: 5px;
}
.ProductColumn-bottom img,.ProductColumn-center img,.ProductColumn-left img  {
    max-width: 100%;
    border-radius: 5px;

    margin-bottom: 0;
}
.ProductColumn-left img , ProductColumn-right img  {
    width: 100%;
    height: 257px;
    object-fit: cover;
    border-radius: 5px;

}

.ProductColumn-right img {
    width: 100%;
    object-fit: cover;
    height: 257px;
    border-radius: 5px;

}

.ProductColumn-center img {
    height: 134px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.productcoulmn__btn-holder {
    display: inline-block;
    float: right;
    margin-right: 6px;
    z-index: 999;
    position: relative;
    margin-top: 2px;
    font-size: 12px;
}



/* 
.ProductColumn-left:hover .ProductColumn-title:before  {
padding:20px;
    -webkit-transition: all 1.4s ease 0s;
    -o-transition: all 1.4s ease 0s; 
    transition: all 1.4s ease 0s;
   background:linear-gradient(180deg,transparent 0,rgb(248, 156, 24));
}

.cat-img.style1 img {
    transition: 0.5s;
} */

.ProductColumn-left ,div#second{
    overflow: hidden;
}
.product-overlay {
    position: absolute; 
  left:0;
  border-radius: 5px;

  height:100%;
  background: rgba(0,0,0,0.4);
  padding: 0; 
  width:100%;
opacity: 0;
 /*Starting Position and animation */
  top: -100%;

   transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -o-transition:      all 0.5s ease;
}



.ProductColumn-left:hover .product-overlay , .ProductColumn-right:hover .product-overlay , 

.ProductColumn-center:hover .product-overlay  , .ProductColumn-bottom:hover .product-overlay ,
.image-right:hover .product-overlay 
{
    opacity: 1;
    top: 0%;
    
}



.image-right:hover .ProductColumn-image-title h2 , .image-right:hover .ProductColumn-image-title p {
    color: #fff;
    transition: 0.3s;
}


.ProductColumn-right {
    position: relative;
}




.ProductColumn-bottom img , .image-right img {
    height: 113px;
    width: 100%;
    object-fit: cover;
}
.ProductColumn-center {
    overflow: hidden;
    position: relative;
}